
REACT_APP_CONTRACT= YOUR_REMIX_DEPLOYED_CONTRACT_ADDRESS

REACT_APP_FARMER=YOUR_METAMASK_ACCOUNT1_FARMER
REACT_APP_DISTRIBUTOR=YOUR_METAMASK_ACCOUNT2_DISTRIBUTOR
REACT_APP_RETAILER=YOUR_METAMASK_ACCOUNT2_RETAILER